/*
Read Clean Assembly nextflow config
*/

/* Parameters */
params {
    outdir                      = "./results" //output directory
    help                        = false
    
    // Skesa params
    skesa_cores                 = 4
    skesa_min_contig            = 500

    // Quast params         
    quast_min_len               = 500
    quast_threads               = 4

}

conda {
    enabled = true
}